# Python
venv/
__pycache__/
*.pyc
*.pyo

# Data
data/
*.csv
*.xlsx
*.xls

# SQL Server
*.mdf
*.ldf
*.bak

# VSC
.vscode/

# Environment
.env

# Pipelines
sql/master_load_raw.sql
sql/master_load_cleansed.sql
